@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}

.navbar h3 {
    color: #E6533C;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.navlist {
    display: flex;
    align-items: center;
    gap: 35px;
    border: 1px solid #333;
    border-radius: 40px;
    padding: 2px 5px;
}

.navlist p {
    font-size: 14px;
    color: white;
    padding: 8px 14px;
    cursor: pointer;
}

.navlist .active {
    background-color: #E6533C;
    border-radius: 30px;
}

.navbar span {
    display: none;
}

/* banner styles */
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.banner-left{
    min-height: 200px;
    width: 50%;
}
.banner-left h1{
    font-size: 78px;
}
.banner-left p{
    margin-top: 28px;
    margin-bottom: 28px;
}
.banner-left button{
    width: 200px;
    height: 50px;
    border-radius: 42px;
    color: white;
}
.banner-right{
    min-height: 200px;
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}
.banner-right img{
    width: 55%;
}
.tooltip{
    position: absolute;
    background-color: rgba(128, 128, 128, 0.302);
    right: -10%;
    width: 193px;
    height: 98px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 12px;
    top: 17%;
}
.tooltip2 {
  background-color: rgba(70, 68, 68, 0.302);
  position: absolute;
  padding: 20px;
  border-radius: 12px;
  left: 23%;
  top: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.ball {
  width: 50px;
  height: 50px;
  background-color: #e6533c;
  border-radius: 50%;
}


/* main design*/
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-1 {
    text-align: center;
    margin-bottom: 45px;
}

.main-1 h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 15px;
}

.main-1 p {
    font-size: 14px;
    color: gray;
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.5;
}

.main-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.habit-card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

.habit-card h4 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 7px;
}

.habit-card p {
    color: gray;
    font-size: 12px;
    line-height: 1.4;
    max-width: 160px;
    margin: 0 auto;
}