@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}

.navbar h3 {
    color: #E6533C;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.navlist {
    display: flex;
    align-items: center;
    gap: 35px;
    border: 1px solid #333;
    border-radius: 40px;
    padding: 2px 5px;
}

.navlist p {
    font-size: 14px;
    color: white;
    padding: 8px 14px;
    cursor: pointer;
}

.navlist .active {
    background-color: #E6533C;
    border-radius: 30px;
}

.navbar span {
    display: none;
}

/* banner styles */
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.banner-left{
    min-height: 200px;
    width: 50%;
}
.banner-left h1{
    font-size: 78px;
}
.banner-left p{
    margin-top: 28px;
    margin-bottom: 28px;
}
.banner-left button{
    width: 200px;
    height: 50px;
    border-radius: 42px;
    color: white;
}
.banner-right{
    min-height: 200px;
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}
.banner-right img{
    width: 55%;
}
.tooltip{
    position: absolute;
    background-color: rgba(128, 128, 128, 0.302);
    right: -10%;
    width: 193px;
    height: 98px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 12px;
    top: 17%;
}
.tooltip2 {
  background-color: rgba(70, 68, 68, 0.302);
  position: absolute;
  padding: 20px;
  border-radius: 12px;
  left: 23%;
  top: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.ball {
  width: 50px;
  height: 50px;
  background-color: #e6533c;
  border-radius: 50%;
}


/* main design*/
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-1 {
    text-align: center;
    margin-bottom: 45px;
}

.main-1 h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 15px;
}

.main-1 p {
    font-size: 14px;
    color: gray;
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.5;
}

.main-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.habit-card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

.habit-card h4 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 7px;
}

.habit-card p {
    color: gray;
    font-size: 12px;
    line-height: 1.4;
    max-width: 160px;
    margin: 0 auto;
}

/* card section */
.card {
    max-width: 1200px;
    margin: 80px auto;
    padding: 25px;
    background-color: #222222;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
/* Left Side */
.card-left {
    width: 50%;
    padding-left: 20px;
}

.card-left h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.card-left p {
    color: #999;
    font-size: 14px;
    line-height: 1.6;
    max-width: 500px;
    margin-bottom: 30px;
}

.card-left button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 42px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/* Right Side */
.card-right {
    width: 40%;
}
.card-right img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}


/* Team Section */
.team {
    max-width: 1200px;
    margin: 80px auto;
}

/* Heading */
.left {
    text-align: center;
    margin-bottom: 50px;
}

.left h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.left p {
    color: #888;
    font-size: 13px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

/* Trainer container */
.right {
    background-color: #222;
    border-radius: 15px;
    padding: 16px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

/* Trainer */
.trainer {
    height: 370px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.trainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Overlay */
.trainer::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        transparent 55%,
        rgba(0, 0, 0, 0.8)
    );
}

/* Text */
.trainer-info {
    position: absolute;
    left: 15px;
    bottom: 12px;
    z-index: 2;
}

.trainer-info h3 {
    font-size: 16px;
    margin-bottom: 3px;
}

.trainer-info p {
    font-size: 12px;
    color: #aaa;
}



/* Footer */
.footer {
    background-color: #191919;
    margin-top: 100px;
    padding: 60px 20px 25px;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 80px;
}

/* Logo */
.footer-logo h1 {
    color: #e6533c;
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;
}

.footer-logo p {
    max-width: 400px;
    color: #999;
    font-size: 13px;
    line-height: 1.6;
}
/* Footer Links */
.footer-links h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 25px;
}

.footer-links p {
    color: #999;
    font-size: 18px;
    margin-bottom: 18px;
}

/* Bottom */
.footer-bottom {
    max-width: 1200px;
    margin: 50px auto 0;
    padding-top: 30px;
    border-top: 1px solid #333;
    text-align: center;
}
.footer-bottom p {
    color: #999;
    font-size: 16px;
}